[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clustrd"]
	path = clustrd
	url = https://github.com/cran/clustrd
[submodule "idm"]
	path = idm
	url = https://github.com/cran/idm
[submodule "manydist"]
	path = manydist
	url = https://github.com/cran/manydist
